@page "/Login"
@using System.Text
@using Newtonsoft.Json
@using Models
@using System.Net
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<PopUpComponent @ref="popupRef" />

<EditForm Model="@usuarioLogin" OnValidSubmit="CallApi">

    <!-- Con la etiqueta DataAnnotationsValidator aplico las anotaciones de validacion que tengo en la clase de Usuario -->
    <DataAnnotationsValidator/>

    <div class="fondo-imagen d-flex flex-column gap-4">

        <header>
            <div class="d-flex flex-row flex-wrap align-items-center justify-content-around p-3 font-raleway-class">
                <h2 class="header-responsive">UDLA</h2>
                <div class="fondo-logo-UDLA"></div>
                <h2 class="header-responsive">Grupo 1</h2>
            </div>
        </header>

        <div class="d-flex justify-content-center font-raleway-class">
            <div class="d-flex flex-wrap flex-column justify-content-center align-items-center gap-4 w-50 col-sm-12 col-md-9 p-3 width-responsive">

                <!-- Usuario -->
                <div class="d-flex flex-column w-75 gap-2">
                    <label>Usuario</label>
                    <input type="text" name="username" required id="txt-username" placeholder="Ingrese su usuario." class="form-control" @bind="usuarioLogin._username"/>
                    <!-- Con esta etiqueta ValidationMessage y su atributo For despliego el mensaje de DataAnotation de la clase Usuario para el atributo que haya indicado en la etiqueta For -->
                    <ValidationMessage For="( () => usuarioLogin._username )"/>
                </div>
                <!-- Contrasenia -->
                <div class="d-flex flex-column w-75 gap-2">
                    <label>Contraseña</label>
                    <input type="password" name="password" required id="txt-password" placeholder="Ingrese su contraseña." class="form-control" @bind="usuarioLogin._password">
                    <ValidationMessage For="( () => usuarioLogin._password )" />
                </div>

                <div class="d-flex flex-column gap-3 w-75">
                    <!-- Button -->
                    <button type="submit" class="btn btn-info">Iniciar Sesión</button>
                    <!-- Create account / Help? -->
                    <div class="d-flex gap-5 justify-content-between text-center">
                        <a href="#" class="text-decoration-none">Crear una cuenta</a>
                        <a href="#" class="text-decoration-none">Necesitas ayuda?</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</EditForm>

<div class="modal fade" id="viewProductModal" tabindex="-1" role="dialog" aria-labelledby="viewProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewProductName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideProductModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="viewProductDescription"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideProductModal()">Cerrar</button>
            </div>

        </div>
    </div>
</div>

@code {

    Usuario usuarioLogin = new Usuario();

    private PopUpComponent popupRef; // Aquí cambiamos Popup por PopUpComponent 


    private async Task CallApi()
    {
        var usuario = new Usuario { _username = usuarioLogin._username, _password = usuarioLogin._password };
        var url = $"http://apiservicios.ecuasolmovsa.com:3009/api/Usuarios?usuario={usuario._username}&password={usuario._password}";
        var response = await Http.GetAsync(url);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadAsStringAsync();
            Console.WriteLine(result);

            if (result.Contains("error", StringComparison.OrdinalIgnoreCase))
            {

                await JSRuntime.InvokeVoidAsync("viewProduct", "Credenciales Incorrectas", "La contraseña o el usuario es incorrecto!");
                return;

            }

            var usuarioAuthenticated = JsonConvert.DeserializeObject<List<EmisorUsuario>>(result)?.FirstOrDefault();

            if (usuarioAuthenticated.OBSERVACION.Contains("CONTRASEÑA INVALIDA", StringComparison.OrdinalIgnoreCase))
            {
                
                await JSRuntime.InvokeVoidAsync("viewProduct", "Credenciales Incorrectas", "La contraseña o el usuario es incorrecto!");
                return;

            }

            await JSRuntime.InvokeVoidAsync("viewProduct", "Éxito", $"Ingreso exitoso, bienvenido {usuarioAuthenticated?.NOMBREUSUARIO}!");
        }
        else
        {
            string headerText = "Error";
            string bodyText;

            switch (response.StatusCode)
            {
                case HttpStatusCode.BadRequest:
                    bodyText = "Solicitud incorrecta";
                    break;
                case HttpStatusCode.Unauthorized:
                    bodyText = "Credenciales inválidas";
                    break;
                case HttpStatusCode.InternalServerError:
                    bodyText = "Error del servidor";
                    break;
                default:
                    bodyText = "Error desconocido";
                    break;
            }

            await JSRuntime.InvokeVoidAsync("viewProduct", headerText, bodyText);
        }
    }


}
